<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header')  %>
<body>
    <%- include('./partials/nav')  %>

    <div class="container">
        <section id="view-blogs">
            <article class="blog">
                <h1><%= blog.title %></h1>
                <p><%= blog.content  %></p>
                
            </article>
        </section>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>